body{
    font-size: 0.8rem;
    font-family: 'Helvetica', Arial;
}

/* Style for page selected from the side-menu */
.page-selected{
    margin: 26vh 0 0 50vw;
    height: 32vh;
    width: 15.5vw;
    font-size: 0.9rem;
    background-color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 3px solid black;
}

/* for the screen with side-menu */
.Screen{
   margin: 26vh 0 0 50vw;
   height: 32vh;
   width: 15.5vw;
   font-size: 0.9rem;
   background-image: url('https://wallpaperaccess.com/full/307324.jpg');
   background-size: cover;
   position: absolute;
   transform: translate(-50%, -50%);
   border: 3px solid black;
}

/* for the side-menu */
.side-menu{
    height: 32vh;
    width: 10vw;
    background-color: white;
}

/* for the title */
.side-menu strong{
    position: absolute;
    padding: 8px 0 0 8px;
}

/* for the list in side-menu */
.side-menu ul{
    position: absolute;
    padding: 23px 0 0 8px;
}

.side-menu li{
    padding: 5px 0;
    list-style: none;
}

/* for the selective class that will be used to go to it's components */
.active{
    color: white;
    background-color: blue;
    box-shadow: 2px 2px 5px 0px #3783D8;
}

/* for enhancement of the formatting of the selected tag by active class */
.active::after{
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0
    \00a0\00a0\00a0\00a0\00a0\00a0>";
}

/* styling the controls-box */
#controls-box{
   margin: 53.5vh 0 0 50vw;
   height: 22vh;
   width: 16vw;
   font-weight: bold;
   color: #B9B9B9;
   background-image: linear-gradient(to right, gray, gainsboro);
   position: absolute;
   transform: translate(-50%, -50%);
}

/* for the button of the ipod */
#wheel-outer{
    margin: auto;
    margin-top: 11vh;
    height: 20vh;
    width: 10vw;
    border: 3px solid white;
    transform: translate(0, -50%);
    border-radius: 50%;
    background-color: white;
}

/* for the selection button */
#wheel-inner{
    margin-top: -21vh;
    height: 7vh;
    width: 3.5vw;
    border: 3px solid white;
    transform: translate(155%, -50%);
    border-radius: 50%;
    position: absolute;
    background-image: linear-gradient(to right, grey, gainsboro);
}

/* for all the buttons alignment and placement */
#top{
    position: absolute;
    margin-left: 36%;
    padding-top: 5%;
}

#left{
    position: absolute;
    padding: 40% 0 0 12%;
}

#right{
    position: absolute;
    padding: 40% 0 0 80%;
}

#bottom{
    position: absolute;
    padding: 74% 0 0 47.5%;
}