#controls-box{
   margin: 50vh 50vw;
   height: 22vh;
   width: 11vw;
   background-color: gainsboro;
   position: absolute;
   transform: translate(-50%, -50%);
}

#wheel-outer{
    margin: auto;
    margin-top: 11vh;
    height: 20vh;
    width: 10vw;
    border: 3px solid white;
    transform: translate(0, -50%);
    border-radius: 50%;
    background-color: white;
}

#wheel-inner{
    margin: auto;
    margin-top: 10vh;
    height: 7vh;
    width: 3.5vw;
    border: 3px solid white;
    transform: translate(0, -50%);
    border-radius: 50%;
    background-color: gainsboro;
}

#top{
    /* text-align: center; */
}

#left{
    
}

#right{
    
}

#bottom{
    
}