body{
    font-size: 0.8rem;
    font-weight: bold;
    color: #B9B9B9;
}

#controls-box{
   margin: 50vh 50vw;
   height: 22vh;
   width: 11vw;
   background-color: gainsboro;
   position: absolute;
   transform: translate(-50%, -50%);
}

#wheel-outer{
    margin: auto;
    margin-top: 11vh;
    height: 20vh;
    width: 10vw;
    border: 3px solid white;
    transform: translate(0, -50%);
    border-radius: 50%;
    background-color: white;
}

#wheel-inner{
    margin-top: -21vh;
    height: 7vh;
    width: 3.5vw;
    border: 3px solid white;
    transform: translate(90%, -50%);
    border-radius: 50%;
    position: absolute;
    background-color: gainsboro;
}

#top{
    position: absolute;
    margin-left: 36%;
    padding-top: 5%;
}

#left{
    position: absolute;
    padding: 40% 0 0 12%;
}

#right{
    position: absolute;
    padding: 40% 0 0 80%;
}

#bottom{
    position: absolute;
    padding: 74% 0 0 47.5%;
}